<%= form_for([@application,@child]) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :date_of_birth %><br>
  <%= f.date_field :date_of_birth %>
</div>
<div class="field">
  <%= f.label :age %><br>
  <%= f.number_field :age %>
</div>
<div class="field">
  <%= f.label :gender %><br>
  <%= f.text_field :gender %>
</div>
<div class="field">
  <%= f.label :legal_guardian_first_name %><br>
  <%= f.text_field :legal_guardian_first_name %>
</div>
<div class="field">
  <%= f.label  :legal_guardian_last_name %><br>
  <%= f.text_field :legal_guardian_last_name %>
</div>
<div class="field">
  <%= f.label :legal_guardian_gender %><br>
  <%= f.text_field :legal_guardian_gender %>
</div>
<div class="field">
  <%= f.label :person_with_custody_name %><br>
  <%= f.text_field :person_with_custody_name %>
</div>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>
