<h4><p> First Name: </h4></p>
<%= @application.first_name %><br>
<h4><p> Middle Name: </h4></p>
<%= @application.middle_name %><br>
<h4><p> Last Name: </h4></p>
<%= @application.last_name %><br>
<h4><p> Age: </h4></p>
<%= @application.age %><br>
<h4><p> Gender: </h4></p>
<%= @application.gender %><br>
<h4><p> Primary Language: </h4></p>
<%= @application.primary_language %><br>
<h4><p> Interpreter: </h4></p>
<%= @application.interpreter %><br>
<h4><p> Address 1: </h4></p>
<%= @application.address1 %><br>
<h4><p> Address 2: </h4></p>
<%= @application.address2 %><br>
<h4><p> City: </h4></p>
<%= @application.city %><br>
<%= @application.state %><br>
<%= @application.zip_code %>
<%= @application.phone %><br>
<%= @application.car %><br>
<%= @application.insurance %><br>
<%= @application.drivers_license %><br>
<%= @application.drivers_license_state %><br>
<%= @application.shoreline_family %><br>
<%= @application.renton_family %><br>
<%= @application.mens_recovery %><br>
<%= @application.referring_agency %><br>
<%= @application.referring_person %><br>
<%= @application.agency_address1 %><br>
<%= @application.agency_address2 %><br>
<%= @application.agency_city %><br>
<%= @application.agency_state %><br>
<%= @application.agency_zip_code %><br>
<%= @application.agency_phone %><br>
<%= @application.perceived_benefit %><br>
<%= @application.alcohol_problem %><br>
<%= @application.drug_problem %><br>
<%= @application.sober_days %><br>
<%= @application.sober_months %>
<%= @application.sober_years %><br>
<%= @application.times_in_treatment %><br>
<%= @application.last_treatment_date %><br>
<%= @application.currently_in_twelve_step %><br>
<%= @application.changes_to_ensure_sobriety %><br>
<%= @application.history_serious_illness %><br>
<%= @application.medical_problem_and_medication %><br>
<%= @application.non_prescription_drugs %><br>
<%= @application.non_prescription_drugs_explanation %><br>
<%= @application.have_been_in_counseling %><br>
<%= @application.counseling_date %><br>
<%= @application.counseling_location %><br>
<%= @application.counseling_issues %><br>
<%= @application.attempted_suicide %><br>
<%= @application.attempted_suicide_date %><br>
<%= @application.attempted_suicide_method %><br>
<%= @application.pending_charges_or_warrants %><br>
<%= @application.pending_charges_or_warrants_description %><br>
<%= @application.probation_or_parole %><br>
<%= @application.probation_officer_first_name %><br>
<%= @application.probation_officer_last_name %><br>
<%= @application.probation_officer_phone %><br>
<%= @application.highest_grade_completed %><br>
<%= @application.diploma %><br>
<%= @application.diploma_school %><br>
<%= @application.diploma_date %><br>
<%= @application.GED %><br>
<%= @application.GED_date %><br>
<%= @application.gross_income_YTD %><br>
<%= @application.gross_income_previous_year %><br>
<%= @application.goals_for_year %><br>
<%= @application.financial_support_plan %><br>
<%= @application.married_date %><br>
<%= @application.divorced_date %><br>
<%= @application.age_at_first_married %><br>
<%= @application.number_of_prior_marriages %><br>
<%= @application.current_significant_other %><br>
<%= @application.birthplace %><br>
<%= @application.years_in_washington %><br>
<%= @application.reason_for_relocating %><br>
<%= @application.emergency_contact_doctor_name %><br>
<%= @application.emergency_contact_doctor_phone %><br>
<%= @application.emergency_contact_hospital_name %><br>
<%= @application.emergency_contact_hospital_phone %><br>
<%= @application.emergency_contact_friend_or_relative_name %><br>
<%= @application.emergency_contact_friend_or_relative_phone %><br>
<%= @application.medical_insurance_name %><br>
<%= @application.medical_insurance_group_number %><br>
<%= @application.military_service %><br>
<%= @application.military_service_description %><br>
<%= @application.home_record_address1 %><br>
<%= @application.home_record_address2 %><br>
<%= @application.home_record_city %><br>
<%= @application.home_record_state %><br>
<%= @application.home_record_zip_code %><br>
<%= @application.home_record_phone %><br>

