<div class="field">
    <%= f.label :pending_charges_or_warrants %><br>
    <%= f.check_box :pending_charges_or_warrants %>
  </div><br>
  <div class="field">
    <%= f.label :pending_charges_or_warrants_description %><br>
    <%= f.text_field :pending_charges_or_warrants_description %>
  </div><br>
  <div class="field">
    <%= f.label :probation_or_parole %><br>
    <%= f.check_box :probation_or_parole %>
  </div><br>
  <div class="field">
    <%= f.label :probation_officer_first_name %><br>
    <%= f.text_field :probation_officer_first_name %>
  </div>
  <div class="field">
    <%= f.label :probation_officer_last_name %><br>
    <%= f.text_field :probation_officer_last_name %>
  </div>
  <div class="field">
    <%= f.label :probation_officer_phone %><br>
    <%= f.number_field :probation_officer_phone %>
  </div>
