<%= form_for([@family_member, @application]) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <!-- Family -->
  <div class="field">
    <%= f.label :emergency_contact_doctor_name %><br>
    <%= f.text_field :emergency_contact_doctor_name %>
  </div>
  <div class="field">
    <%= f.label :emergency_contact_doctor_phone %><br>
    <%= f.number_field :emergency_contact_doctor_phone %>
  </div>
  <div class="field">
    <%= f.label :emergency_contact_hospital_name %><br>
    <%= f.text_field :emergency_contact_hospital_name %>
  </div>
  <div class="field">
    <%= f.label :emergency_contact_hospital_phone %><br>
    <%= f.number_field :emergency_contact_hospital_phone %>
  </div>
  <div class="field">
    <%= f.label :emergency_contact_friend_or_relative_name %><br>
    <%= f.text_field :emergency_contact_friend_or_relative_name %>
  </div>
  <div class="field">
    <%= f.label :emergency_contact_friend_or_relative_phone %><br>
    <%= f.number_field :emergency_contact_friend_or_relative_phone %>
  </div>
  <div class="field">
    <%= f.label :medical_insurance_name %><br>
    <%= f.text_field :medical_insurance_name %>
  </div>
  <div class="field">
    <%= f.label :medical_insurance_group_number %><br>
    <%= f.number_field :medical_insurance_group_number %>
  </div><br>
  <!-- End Family -->
<% end %>
